{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h5 style="margin-bottom: 30px">Neste site você poderá acompanhar o histórico do volume das chuvas em Caicó - RN.</h5>
            <img src="https://i.pinimg.com/564x/fb/f7/09/fbf70936d348fa3083dd66c13c195638.jpg" width="300" height="300"
            class="img-thumbnail" alt="">
            <div style="margin-top: 30px">
                <small>*É necessário estar autenticado para adicionar um registro de volume de chuva.</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}